body {
    margin: 0;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: #1F2937;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 2rem;
    padding-bottom: 4rem;
    flex-wrap: wrap;
    flex: 1 1 0;
    height: 100%;
}
.header-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: #1F2937;
}
.header-links {
    display: flex;
    align-items: center;
    gap: 40px
}
.header-left {
    width: 50%;
    margin-right: 2rem;
    flex-direction: column;
}
.header-left h1 {
    font-size: 48px;
}
.header-left p {
    font-size: 20px;
    color: #CAD2DF;
}
.header-left button {
    border: none;
    background: #3B82F6;
    padding: 7px 20px;
    border-radius: 5px;
    color: #F9F7FE;
    font-weight: bold;
}
.header-right {
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #6D747E;
    color: #F9F7FE;
}
.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex: 1 1 0;
    width: 100%;
    height: auto;
    gap: 40px
}
.information > h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 100%;
}
.information > .image-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 200px;
    height: auto;
    color: black;
}
.image-container > div {
    border: 4px solid lightblue;
    height: 200px;
    width: 200px;
    border-radius: 10%;
}
.quote {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    flex: 1 1 0;
    text-align: center;
    background: #E5E7EB;
}
.quote > .quote-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: auto;
}
.quote-container > p {
    font-style: italic;
    font-size: 20px;
    color: black;
}
.quote-container > h2 {
    display: flex;
    align-self: flex-end;
    color: black;
}
.footer {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer > .footer-box {
    display: flex;
    width: 500px;
    gap: 30px;
    justify-content: center;
    align-items: center;
    background-color: #3B82F6;
    padding: 2rem;
}
.footer-box > button {
    border: none;
    background: white;
    padding: 7px 20px;
    border-radius: 5px;
    width: 100px;
    color: #3B82F6;
    font-weight: bold;
}
.footer-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;
    background: #1F2937;
}
div {
    color: white;
}